/* ========================================================= Main ===*/
html, body{
  background-color: #262628;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
}
html, body, #bg, #bg table, #bg td, #cont {
  height:100%;
  width:100%;
  overflow:hidden;
}
a{
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover{
  text-decoration: none;
}
p {
  font-size: 15px;
  margin: 0 0 30px 0;
  text-indent: 40px;
}
h1{
  font-size: 65px;
  font-weight: 700;
  margin: 20px 0 20px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(0,0,0,0.3);
  line-height: 1.1;
}
#bg {
  position: fixed;
}
#bg div {
  height:200%;
  left:-50%;
  position:absolute;
  top:-50%;
  width:200%;
}
#bg td {
  text-align:center;
  vertical-align:middle;
}
#bg img {
  margin:0 auto;
  min-height:50%;
  min-width:50%;
}
#cont {
  position:absolute;
  top:0;left:0;
  z-index:70;
  overflow:auto;
}
.box {
  margin: 0 auto;
  width: 400px;
  padding: 50px;
  background: white;
  padding-bottom:100px;
  font: 14px/2.8 Georgia, Serif;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px){
  img.bg {
    left: 50%;
    margin-left: -512px; }
}

#page-wrap {
  position: relative;
  width: 400px;
  margin: 80px auto;
  padding: 20px;

  -webkit-animation: 3s ease;
  -moz-animation: 3s ease;
  -ms-animation: 3s ease;
  -o-animation: 3s ease;
  animation: 3s ease;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
#page-wrap img{
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 100px;
  display: block;
  max-width: 150px;
  margin: 0 auto;
}

#social{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#social li{
  display: inline-block;
  margin: 0;
  padding: 0;
}
#social a{
  color: #333;
  font-size: 32px;
  padding: 10px;
  line-height: 1;
}
#social a:hover{
  color: #000;
}
#social i{

}






@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
